<h1>Novo card</h1>

<form class="new-card" action="/cards" method="post">
  <label for="frente">Frente</label>
  <input type="text" name="frente" id='frente' placeholder='Palavra da frente'>
  <label for="verso">Verso</label>
  <input type="text" name="verso" id='verso' placeholder='Palavra do verso'>
  <input type="submit" value="Submit">
</form>
